.about-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .spacer {
    height: 2.813rem;
  }
}

@media only screen and (max-width: 700px) {
  .spacer {
    height: 1.563rem;
  }
  .spacer-2 {
    height: 0.875rem;
  }
}
