.review-container {
  margin-top: 0.5rem;
}

.inner-review-container {
  padding-bottom: 2.688rem;
  gap: 1.25rem;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.review-item {
  background-color: #f9f9f9;
  padding: 1.75rem 2.25rem 3.188rem 2.625rem;
  border-radius: 20px;
  min-width: 20rem;
}

.review-item-header {
  gap: 12px;
  align-items: center;
}

.review-item img {
  width: 60px;
  height: 60px;
}

.review-role {
  color: #686868;
}

.review-comment {
  margin-top: 2rem;
}

.review-comment p {
  font-size: 16px;
  color: #686868;
}

.review-container .pagination-container {
  margin: 1.875rem 0 5.188rem 0;
}

@media only screen and (max-width: 1024px) {
  .review-container {
    margin-bottom: 3.625rem;
  }

  .review-container .pagination-container {
    display: none;
  }

  .review-item {
    padding: 1.375rem 2.25rem 3.188rem 1.375rem;
  }
}

@media only screen and (max-width: 700px) {
  .review-container {
    margin-top: 1.875rem;
    margin-bottom: 0;
  }

  .inner-review-container {
    padding-bottom: 0;
  }

  .review-item {
    padding: 1.25rem 1.25rem 2rem 1.25rem;
    min-width: 22rem;
  }
}
