.header-container {
  background: rgb(255, 212, 185);
  background: linear-gradient(
    90deg,
    rgba(255, 212, 185, 1) 0%,
    rgba(224, 208, 244, 1) 50%,
    rgba(203, 165, 252, 1) 100%
  );
}

.navbar-container {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.5rem;
}

.menu img {
  width: 1.5rem;
  height: 1rem;
  display: none;
  cursor: pointer;
}

.title-container {
  cursor: pointer;
}

.nav-links-container {
  align-items: center;
  justify-content: space-between;
  flex-basis: 60%;
}

.nav-links-container > div {
  gap: 1rem;
}

.header-title-gradient {
  height: 15.375rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  padding: 0 2rem;
}

.header-title {
  font-size: 8.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .header-title {
    font-size: 4.813rem;
  }

  .header-title-gradient {
    height: 9.375rem;
  }

  .nav-links-container {
    flex-basis: 75%;
  }
}

@media only screen and (max-width: 700px) {
  .nav-links-container {
    display: none;
  }

  .mobile-nav-links-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 2rem;
    margin: 1rem 1rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    z-index: 10;
  }

  .mobile-nav-links-container > div {
    flex-direction: column;
  }

  .mobile-nav-links-container .auth-buttons {
    gap: 0;
  }

  .header-title {
    font-size: 3.25rem;
  }

  .menu img {
    display: block;
  }
}
