.section-container {
  display: flex;
  flex-direction: column;
}

.section-header-container {
  display: flex;
  flex: 1;
  margin: 5rem 25rem;
  justify-content: center;
}

.section-description {
  width: 40%;
  padding: 0 2rem;
}

.section-description p {
  margin-bottom: 1rem;
}

.section-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 3rem 0;
  gap: 1rem;
}

.section-banner-container div {
  flex: 1;
  background-color: #f9f9f9;
  height: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  border-radius: 16px;
}

.section-banner {
  width: 100%;
  border-radius: 16px;
}

.section-text-container {
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .section-header-container {
    margin: 5rem 8rem;
  }
}

@media only screen and (max-width: 700px) {
  .section-description {
    width: auto;
    padding: 0 2rem;
  }
  .section-text-container {
    justify-content: center;
  }

  .section-header-container {
    margin: 5rem 1rem;
  }

  .section-banner-container {
    margin: 1rem 0;
    flex-direction: column;
    gap: 2rem;
  }
}
