.section-container {
  display: flex;
  flex-direction: column;
}

.section-text-container {
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.section-header-container {
  width: 35%;
}

.section-description {
  width: 40%;
  padding: 0 2rem;
}

.section-description p {
  color: #686868;
}

@media only screen and (max-width: 1024px) {
  .section-text-container {
    margin: 3.438rem 0 2.5rem 0;
  }

  .section-header-container {
    width: 65%;
  }

  .section-description {
    width: 44%;
  }
}

@media only screen and (max-width: 700px) {
  .section-text-container {
    margin: 3.438rem 0 0.625rem 0;
  }

  .section-description {
    width: auto;
    padding: 0;
    margin-top: 0.75rem;
  }

  .section-header-container {
    width: 100%;
  }
}
