.section-container {
  display: flex;
  flex-direction: column;
}

.section-text-container {
  gap: 50px;
}

.section-header-container {
  display: flex;
  flex: 1;
  padding: 70px 0;
  margin: 70px 0 0 0;
  justify-content: center;
  background-color: #f9f9f9;
}

.section-header-container h4 {
  font-size: 34px;
  font-weight: 400;
  width: 600px;
  line-height: 120%;
}

.section-title {
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  line-height: 90px;
}

.section-description {
  width: 700px;
}

.section-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 80px 0;
  gap: 100px;
}

.section-banner-container div {
  flex: 1;
  background-color: #f9f9f9;
  height: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  border-radius: 16px;
}

.section-banner {
  width: 100%;
  border-radius: 16px;
}

.section-pagination {
  margin-top: -50px;
}
