.footer-container {
  margin-top: 2rem;
}

.footer-container p {
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}

.footer-container h5 {
  margin-bottom: 1rem;
}

.footer-main-body {
  padding: 2rem;
  margin-bottom: 2rem;
}

.footer-logo-container {
  flex-basis: 30%;
}

.footer-logo-container > div {
  max-width: 13rem;
}

.footer-links-container {
  flex: 1;
  justify-content: space-around;
}

.footer-socials {
  gap: 15px;
  margin-top: 20px;
}

.footer-socials img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.footer-fine-print {
  padding: 0 2rem;
}

.footer-decoration {
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
}

.footer-decoration img {
  width: 100%;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #121212;
  background: transparent;
  width: 20rem;
}

.footer-input-right-action {
  position: relative;
}

.footer-input-right-action::after {
  content: attr(data-action);
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .footer-main-body {
    flex-direction: column;
  }
  .footer-links-container {
    flex-direction: column;
  }

  .footer-fine-print {
    flex-direction: column;
  }

  .footer-decoration img {
    width: 50rem;
  }
}
