.footer-container p {
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0.75rem;
  line-height: 1.2rem;
}

.footer-container h6 {
  margin-bottom: 1.813rem;
}

.footer-main-body {
  padding: 2.813rem 3.125rem;
  margin-bottom: 1.8rem;
  justify-content: space-between;
}

.footer-logo-container {
  flex-basis: 35%;
}

.footer-logo-container img {
  height: 1.875rem;
}

.footer-logo-container > div {
  max-width: 13rem;
}

.footer-links-container {
  flex: 1;
  justify-content: space-between;
}

.footer-socials {
  gap: 15px;
  margin-top: 1.5rem;
}

.footer-socials img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.footer-fine-print {
  padding: 0 3.125rem;
  justify-content: space-between;
}

.footer-decoration {
  margin: 1.875rem 2.75rem 0 2.75rem;
  overflow: hidden;
}

.footer-decoration img {
  width: 100%;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #121212;
  background: transparent;
  width: 20rem;
  padding-bottom: 0.938rem;
}

.footer-input-right-action {
  position: relative;
}

.footer-input-right-action::after {
  content: attr(data-action);
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .footer-main-body {
    padding: 2.813rem 1.875rem;
  }
  .footer-subscription {
    margin-top: 5.25rem;
  }
  .footer-fine-print {
    flex-direction: column;
    padding: 0 1.875rem;
    margin: -9.75rem 0 8.25rem 0;
  }
  .footer-decoration img {
    width: 59.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .footer-main-body {
    flex-direction: column;
    gap: 5rem;
    padding: 1.25rem 1.25rem;
    margin-top: 5.188rem;
  }

  .footer-logo-container img {
    margin-bottom: 0.5rem;
    height: 1.438rem;
  }

  .footer-container h6 {
    margin-bottom: 1.25rem;
  }

  .footer-links-container {
    flex-direction: column;
  }

  .footer-links-container > div > p:last-child {
    margin-bottom: 2.688rem;
  }

  .footer-subscription {
    margin-top: 2.313rem;
  }

  .footer-fine-print {
    flex-direction: column;
    padding: 0 1.2rem;
    margin: 0 0 3.438rem 0;
  }

  .footer-decoration img {
    width: 44rem;
  }
}
