@import '~antd/dist/antd.css';

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.vertical-padding-10 {
  padding: 10px 0;
}

p,
h1,
h2,
h4,
h5 {
  font-family: 'Neue Haas Grotesk Display Pro', serif;
  margin: 0;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 14px;

  }
}
