@import '~antd/dist/antd.css';

.row {
  display: flex;
}

p,
h1 {
  font-family: 'Neue Haas Grotesk Display Pro', serif;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}
