.section-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 16px;
}

.section-banner-container div {
  flex: 1;
  height: 100%;
  align-items: center;
  align-content: center;
  display: flex;
}

.section-banner-container div:nth-child(2) {
  border-left: 1.25rem solid #fff;
}

.section-banner {
  width: 100%;
  border-radius: 16px;
}

@media only screen and (max-width: 1024px) {
  .section-banner-container div:nth-child(2) {
    border-left: 1rem solid #fff;
  }
}

@media only screen and (max-width: 700px) {
  .section-banner-container {
    margin: 1rem 0;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
  }

  .section-banner-container div:nth-child(2) {
    border-left: 0;
  }
}
